{% for p in products %}
<div class="col-sm-6 col-lg-4 py-2 md-p-3  ">
    <div  class="border rounded-3 bg-light text-center d-flex flex-column justify-content-center align-items-center  position-relative   overflow-hidden">
     <div style="z-index:2;height:40vh" class="py-3">
      <a href="{{p.get_absolute_url}}">
       <img class="h-100 shadow"  src="{{p.image.url}}" alt="{{p.name}}">
      </a>
      </div>
     <div class="py-2 d-flex flex-column w-100 border-top">
       <span class=" px-4 mb-2">{{p.name}}</span>
       <p>
           <small class=" fst-italic text-dark">{{p.description|striptags|truncatechars:150}}</small>
       </p>
       <p>{{p.price}} Ft</p>
     </div>

     <a href="{{p.get_absolute_url}}" class=" mb-4">
        More details
    </a>
     <div class="d-flex mb-3">
        <input type="number" id="add_to_cart_quantity" name="quantity" min="1" max="{{product.in_stock}}" value="1">
        <a class="btn btn-success" id="add_to_cart" href="{{p.add_to_cart}}">Add to cart </a>
     </div>
    </div>
   </div>
{% endfor %}
{% block extrascript %}
<script>
  const cartQuantity = document.getElementById("add_to_cart_quantity");    
  const cartBtn = document.getElementById("add_to_cart");

  cartQuantity.addEventListener("change",(e) => {
    console.log(cartQuantity.value)
    cartBtn.href = cartBtn.href.slice(0, -1) + cartQuantity.value
  })
</script>
{% endblock extrascript %}