{% extends "base.html" %}
{% load static %}
{% block title %}{{product.name}}{% endblock title %}
{% block content %}
  <section id="products" class="mb-5" >
    <div class="bg-dark text-center text-white py-5">
        <h2>{{product.name}}</h2>
    </div>
    <div class="container-lg mt-5">
      <div class="row lg-px-5 px-2">
        <div class="card mb-3 bg-light" >
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{product.image.url}}" class="img-fluid rounded-start m-2 shadow rounded-3" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body ">
                  <h5 class="card-title">{{product.name}}</h5>
                  <p class="card-text">Price: {{product.price}} Ft</p>
                  <p class="card-text">In stock: <span class="text-success">{{product.in_stock}}</span>  </p>

                  <p class="card-text">{{product.description}}</p>
                  <p class="card-text"><small class="text-muted">Last updated {{product.updated_at}}</small></p>
                  <input type="number" id="add_to_cart_quantity" name="quantity" min="1" max="{{product.in_stock}}" value="1">

                  <a class="btn btn-success" id="add_to_cart" href="{{product.add_to_cart}}">Add to cart 
                  </a>


                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
  {% endblock content %}
  {% block extrascript %}
  <script>
    const cartQuantity = document.getElementById("add_to_cart_quantity");    
    const cartBtn = document.getElementById("add_to_cart");

    cartQuantity.addEventListener("change",(e) => {
      console.log(cartQuantity.value)
      cartBtn.href = cartBtn.href.slice(0, -1) + cartQuantity.value
    })
  </script>
  {% endblock extrascript %}