<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>{% block title %}Webshop{% endblock title %}</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Fixed top</a>
        </div>
      </nav>
    
      <main>
        {% block content %}{% block content %}
      </main>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>